$yellow: #DF9010;
$dark-blue: #2E7BA2;
$light-blue: #C8DEEF;
$light-coral: #FBF0DD;
$dark-coral: #FACF9D;
$gradient-summer--blue: #BFDAE6;
$gradient-summer--coral: #FCF0DD;
$gradient-summer--yellow: #FACF9D;
$grey: #444444;
$white: #FFFFFF;