@import 'styles/variables';

.menu {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background:linear-gradient($gradient-summer--blue, $gradient-summer--coral, $gradient-summer--yellow) ;
}
