@import 'styles/variables';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7.5rem;
  gap: 2rem;
  width: 100vw;
  height: 8rem;
  background-color: $dark-blue;

  &__nav {
    align-items: flex-start;
    padding: 0;
    gap: 2rem;
    width: 36.875rem;
    height: 2.5rem;
  }

  &__link {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: $white;
    text-decoration: none;
    padding: 0 1rem;
  }
}